@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 
}

.produtos a {
    text-decoration: none;
    color: #000000;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}


.produtos li:active {
    border-color: green;
}

.produtos h2 {
    font-size: 1.7em;
    font-weight: bold;
}

.produtos li:hover h2 {
    font-size: 1.9em;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.main-contato {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    cursor: pointer;
}

.input-radio {
    margin-right: 5px;
    cursor: pointer;
}

.checkbox {
    margin: 20px 0;
    cursor: pointer;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: #C78C19;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s all;
}

.enviar:hover {
    background: #8d5809;
    transform: scale(1.2);
}

table {
    margin: 20px 0 40px;
}

th {
    background: #555555;
    color: #FFFFFF;
    font-weight: bold;
}

td,
th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

footer {
    background: url('./img/bg.jpg');
    text-align: center;
    padding: 20px;
}

.copyright {
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 10px;
}

/* css da página inicial */

.banner {
    width: 100%;
}

.principal {
    padding: 3em 0;
    background: #fefefe;
    width: 940px;
    margin: 0 auto;
    
}

.titulo-principal {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;    
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#fefefe, #888888);
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5em;
}

.itens:first-child {
    font-weight: bold;
}

.itens::before {
    content: "★ ";
}

.imagem-beneficios {
    width: 60%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

.video {
    width: 560px;
    margin: 2em auto;
}


@media screen and (max-width: 480px) {
    .caixa, .principal, .mapa-conteudo, .conteudo-beneficios, .video, .main-contato, .produtos {
        width: auto;
                
    }
    .principal, .mapa-conteudo, .conteudo-beneficios, .video, .main-contato {
        padding: 0 20px;
        
    }
    .produtos li {
     display: block;
     width: auto;
     margin: 20px 15px ;
     
    }

    .input-padrao{
        width: 70vw;

    }

    .banner {
        margin-bottom: 20px;
    }

    .principal p {
        text-align: justify;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;       
    }
    .lista-beneficios {
        margin-bottom: 20px;
    }
    
    h1 {
        text-align: center;        
    }

    nav {
        position: static;        
    }

}